{% extends "base_generic.html" %}

{% block content %}
<h1>La piccola biblioteca Italiana</h1>

<p>Welcome to <em>La piccola biblioteca Italiana</em>, 
    a library of books in Italian located in San Diego,
    organized by <a href="https://www.italianschoolsd.com">Italian school of San Diego LLC</a></p>

<p>It is currently open to students of the school or people that donated any Italian book to the library</p>

<h2>How to use the library</h2>
<ul>
    <li><a href="/accounts/register">Register an account</a> specifying the number of students you have at Italian school</li>
    <li>Reserve one or more books (each family can borrow a book for each student + 1 extra, <b>initially just 1 per family</b>)</li>
    <li>Pickup the books at Maura's home in University City (the system will email you the address), hours:</li>
	<ul>
		<li>Thursday 3pm-9pm</li>
		<li>Saturday 9am-9pm</li>
		<li>Sunday 9am-9pm</li>
	</ul>
	<li>If a book is not picked up by Sunday night, the reservation is automagically canceled</li>
	<li>Books are due back in 2 weeks after Thursday, so you have less days if you pickup during the weekend</li>
    <li>During holidays, loans are automatically extended until Italian school starts again</li>
    <li>Return them <em>before class</em> at the Biblioteca table, if there is no request for it, you can renew up to 4 weeks total</li>
    <li>If a book is lost or damaged, you are responsible for buying a replacement</li>
</ul>

<h2>Books available</h2>

<p>We will be adding more books soon, check back later on!</p>
<p>The library has the following record counts:</p>
<ul>
<li><strong>Books:</strong> {{ num_books }}</li>
<li><strong>Copies:</strong> {{ num_instances }}</li>
<li><strong>Copies available:</strong> {{ num_instances_available }}</li>
</ul>

{% endblock %}
