{% extends "base_generic.html" %}

{% block content %}
<h1>La piccola biblioteca Italiana</h1>

<p>Welcome to <em>La piccola biblioteca Italiana</em>, 
    a library of books in Italian located in San Diego,
    organized by the <a href="https://www.italianschoolsd.com">Italian school of San Diego LLC</a></p>

<p>It is currently open to students of the school or people that donated any Italian book to the library</p>

<h2>How to use the library</h2>
<ul>
    <li><a href="/accounts/register">Register an account</a> specifying the number of students you have at Italian school</li>
    <li>Reserve one or more books (each family can borrow a book for each student + 1 extra, <b>initially just 1 per family</b>)</li>
    <li>Pickup the books on Thursday after class</li>
    <li>If your desired book is "on loan", ask at the Biblioteca table if it has been returned, if so, you can borrow it</li>
    <li>Return them after 2 weeks on Thursday after class, if no-one picks it up, you can renew up to 4 weeks total</li>
    <li>If a book is lost or damaged, you are responbile for buying a replacement</li>
</ul>

<h2>Books available</h2>

<p>The library has the following record counts:</p>
<ul>
<li><strong>Books:</strong> {{ num_books }}</li>
<li><strong>Copies:</strong> {{ num_instances }}</li>
<li><strong>Copies available:</strong> {{ num_instances_available }}</li>
</ul>

{% endblock %}
