{% extends "base_generic.html" %}

{% block content %}
    <h1>Borrowed books</h1>

    <ul>

      {% for bookinst in bookinstance_list %}
      {% ifequal bookinst.status 'o' %}
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> (due {{ bookinst.due_back }})
      </li>
      {% endifequal %}
      {% endfor %}
    </ul>

    <h1>Reserved books</h1>
    <ul>

    {% for bookinst in bookinstance_list %}
    {% ifequal bookinst.status 'r' %}
    <li>
      <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a>
    </li>
    {% endifequal %}
    {% endfor %}
    </ul>
{% endblock %}

