{% extends "base_generic.html" %}

{% block content %}

<h1>Title: {{ book.title }}</h1>

<div>
    <img src="{{MEDIA_URL}}{{book.cover.url}}" width="300px" />
</div>

<p><strong>Author:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
<p><strong>Summary:</strong> {{ book.summary }}</p>
<p><strong>Language:</strong> {{ book.language }}</p>  
<p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>
<p><strong>Links:</strong> <a href="{{ book.url }}">Amazon.it</a></p>

<div style="margin-left:20px;margin-top:20px">
<h4>Copies</h4>

{% for copy in book.bookinstance_set.all %}
<hr>
<p style="font-weight:bold;color:{% if copy.status == "Available" %}green{% elif copy.status == "On loan" %}red{% else %}orange{% endif %}">{{ copy.status }}</p>
{% if not copy.loan %}<p><a href="{% url 'reserve-book' copy.pk %}"><strong>Reserve</strong></a></p>{% endif %}
{% if copy.loan %}<p><strong>Due to be returned:</strong> {{copy.loan.due_date}}</p>{% endif %}
<p><strong>Imprint:</strong> {{copy.imprint}}</p>

{% endfor %}
</div>
{% endblock %}

