{% extends "base_filter.html" %}

{% block content %}
    <h1>Book List</h1>

    {% if book_list %}

<section class="cf w-100 pa2-ns">
      {% for book in book_list %}
{% if not request.session.available_only or book.is_available %}
	  <article class="fl w-100 w-25-m  w-25-ns pa2-ns">
			<div class="aspect-ratio aspect-ratio--4x6">
			<a href="{{ book.get_absolute_url }}">
				  <img style="background-image:url({{MEDIA_URL}}{{book.cover.url}});" 
				  class="db bg-center cover aspect-ratio--object"/>
			</a>
		</div>
	  </article>
{% endif %}
      {% endfor %}
</section>

    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}       
{% endblock %}

