{% extends "base_generic.html" %}

{% block content %}
    <h1>All Borrowed Books</h1>

    <h2>Borrowed books</h2>

    <ul>

      {% for loan in loan_list %}
      {% if loan.is_loan %}
      <li class="{% if loan.is_overdue %}text-danger{% endif %}">
       <b>{{ loan.borrower }}</b>:  <a href="{% url 'book-detail' loan.book_instance.book.pk %}">{{loan.book_instance.book.title}}</a> (checked out on {{loan.loan_date}}, due {{ loan.due_date }})
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    <h2>Reserved books</h2>
    <ul>

    {% for loan in loan_list %}
    {% if loan.is_reservation %}
    <li>
      <b>{{ loan.borrower }}</b>: <a href="{% url 'book-detail' loan.book_instance.book.pk %}">{{loan.book_instance.book.title}}</a> (reserved on {{loan.reserved_date}})
    </li>
    {% endif %}
    {% endfor %}
    </ul>

    <h2>Past loans</h2>
    <ul>

    {% for loan in loan_list %}
    {% if loan.return_date and loan.loan_date %}
    <li>
      <a href="{% url 'book-detail' loan.book_instance.book.pk %}">{{loan.book_instance.book.title}}</a> (from {{loan.loan_date}} to {{loan.return_date}})
    </li>
    {% endif %}
    {% endfor %}
    </ul>
{% endblock %}
