{% extends "base_generic.html" %}

{% block content %}

<p>
You can borrow a maximum of <strong>{{ request.user.max_books }} </strong>books.</p>
<p>
Using the website you can reserve up to {{ request.user.max_books }}.
However, you will need to give back your currently borrowed books before being able to pickup your reserved books, so that
the total books checked-out are not over your maximum.
</p>

<h2>Library card</h2>

<p>You are logged into the library as user <em>{{ request.user.email }}</em></p>

{% if request.user.supporter and not request.user.is_expired %}
<p>Grazie mille for being a supporter of the "Piccola biblioteca Italiana"!</p>
{% else %}

{% if request.user.is_expired %}

<p>Your membership is not active yet or expired.
If you donated books to the library or have children enrolled in the Italian school of San Diego,
please email <a href="mailto:biblioteca@italianschoolsd.com">biblioteca@italianschoolsd.com</a> so we can fix it.</p>

<p>Otherwise please buy the library card for 1 year for $36 (it's just $3/month and helps support all the time needed to operate the library, maintain the software and host the website).</p>

<p><a href="https://link.waveapps.com/btz446-67kpyk">Buy the "Piccola biblioteca Italiana" library card ($36 +3% credit card processing fee)</a></p>

{% else %}

<p>Please consider becoming a supporter of the library: the library card for 1 year is $36 (it's just $3/month and helps support all the time needed to operate the library, maintain the software and host the website).</p>

<p><a href="https://link.waveapps.com/btz446-67kpyk">Buy the "Piccola biblioteca Italiana" library card ($36 +3% credit card processing fee)</a></p>

<p>You will also get a 2x2 inch vinyl "Italian school of San Diego" sticker to show off your support!</p></p>

{% endif %}
{% endif %}

<p>Your membership expiration date is <b>{{ request.user.library_card_until }}</b> </p>

    <h2>Borrowed books</h2>

    <ul>

      {% for loan in loan_list %}
      {% if loan.is_loan %}
      <li class="{% if loan.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' loan.book_instance.book.pk %}">{{loan.book_instance.book.title}}</a> (checked out on {{loan.loan_date}}, due {{ loan.due_date }})
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    <h2>Reserved books</h2>
    <ul>

    {% for loan in loan_list %}
    {% if loan.is_reservation %}
    <li>
      <a href="{% url 'book-detail' loan.book_instance.book.pk %}">{{loan.book_instance.book.title}}</a> (reserved on {{loan.reserved_date}}) <a href="{% url 'cancel-reservation' loan.pk %}">Cancel reservation</a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>

    <h2>Past loans</h2>
    <ul>

    {% for loan in loan_list %}
    {% if loan.return_date and loan.loan_date %}
    <li>
      <a href="{% url 'book-detail' loan.book_instance.book.pk %}">{{loan.book_instance.book.title}}</a> (from {{loan.loan_date}} to {{loan.return_date}})
    </li>
    {% endif %}
    {% endfor %}
    </ul>
{% endblock %}

