{% extends "base_generic.html" %}

{% block content %}

<p>
You can borrow a maximum of <strong>{{ request.user.max_books }} </strong>books.</p>
<p>
Using the website you can reserve up to {{ request.user.max_books }}.
However, you will need to give back your currently borrowed books before being able to pickup your reserved books, so that
the total books checked-out are not over your maximum.
</p>

    <h1>Borrowed books</h1>

    <ul>

      {% for bookinst in bookinstance_list %}
      {% ifequal bookinst.status 'o' %}
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> (due {{ bookinst.due_back }})
      </li>
      {% endifequal %}
      {% endfor %}
    </ul>

    <h1>Reserved books</h1>
    <ul>

    {% for bookinst in bookinstance_list %}
    {% ifequal bookinst.status 'r' %}
    <li>
      <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> - <a href="{% url 'cancel-reservation' bookinst.pk %}">Cancel reservation</a>
    </li>
    {% endifequal %}
    {% endfor %}
    </ul>
{% endblock %}

